$primary: rgb(34, 34, 34);
$secondary: rgb(49, 80, 100);
$shade: rgb(28, 28, 28);
$tint: rgb(41, 41, 41);
$hover: rgb(79, 79, 79);
$focus: rgb(59, 59, 59);

$gray: rgb(54, 54, 54);
$gray2: rgb(92, 92, 92);
$light: rgb(245, 245, 245);
$light2: rgb(212, 212, 212);

::selection {
  background: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: $light;
}

a,
img {
  color: $light2;
}

html,
body {
  height: 100%;
}

body {
  background-color: $shade;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: $primary;
  height: 4em;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

form {
  height: min-content;
  width: min-content;
}

#search {
  background-color: $gray;
  height: 2em;
  border: none;
  border-radius: 1em;
  padding-left: 1em;
  caret-color: $light;
  color: $light;
}

#search:hover {
  background-color: $hover;
}

#search:focus-visible {
  outline: 3px solid $focus;
}

main {
  flex: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background-color: $tint;
  width: clamp(600px, 50%, 700px);
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 2em;
}

#slide {
  display: flex;
  gap: 1em;
}

#slide article:first-child {
  flex: 1;
}

#forecast > h2 {
  margin-bottom: 1em;
}

#forecast-right {
  margin-left: auto;
}

#forecast-right h3 {
  text-align: right;
}

article {
  background-color: $gray;
  height: max-content;
  width: max-content;
  border-radius: 0.5em;
  padding: 1.3em;
}

article h4,
article > div {
  margin-bottom: 0.5em;
}

article > div {
  display: flex;
  gap: 1em;
}

article div h3:first-child {
  margin-bottom: 0.2em;
}

#start {
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

#start p {
  text-align: center;
  font-size: larger;
}

#current {
  display: none;
}

#head {
  width: clamp(600px, 50%, 700px);
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#content #top,
#content #mid {
  margin-bottom: 1em;
}

#content #mid,
#content #bot {
  display: flex;
  align-items: center;
  gap: 1em;
}

#content #bot .detail {
  width: 100%;
}

#notification {
  background-color: $tint;
  border-radius: 1em;
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 4em;
  width: 12em;
  display: none;
  justify-content: center;
  align-items: center;
}

#notification p {
  padding: 0 2em;
}

